$font-stack: "Helvetica"
$text-color: #c9c9c9
$text-color-secondary: #c9c9c9
$body-bg-color: #292626
$bg-color: #111
$bg-color-secondary: #292626
$container-border-radius: 10px
$card-border-radius: 5px
$usual-color: linear-gradient(9deg, #68aca3 0%, #597497 45%, #542a71 100%),
